node_modules
.env
.env.development
.env.production
.neon_local/
/src/generated/prisma
/logs
# /prisma/migrations  <-- intentionally tracked so CI can run prisma migrate deploy
/prisma/generated
/src/generated
